*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* NOTE: Loading screen START -----------------------------------  */
div#load_screen{
    background: #154360;
    opacity: 1;
    position: fixed;
    z-index: 10000;
    top:0;
    width: 100%!important;
    height: 1600px!important;
    }
div#load_screen{
    color: #fff;
    width: 120px;
    height: 24px;
}

.position{
    left: 46%;
    top: 9%;
    position: absolute;
    font-size: 35px;
    font-family: Raleway,sans-serif;
}
.sk-folding-cube {
    margin: 25% auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    } 25%, 75% {
          -webkit-transform: perspective(140px) rotateX(0deg);
          transform: perspective(140px) rotateX(0deg);
          opacity: 1;
      } 90%, 100% {
            -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
            opacity: 0;
        }
}
/* NOTE: Loading screen END -----------------------------------  */

/* NOTE: navbar sart  #000000 #606060 #e6b1a9 #fae5e2 rgb(190, 143, 108) */
.navbarcolor{
  background: #000000!important;
  min-height: 100px;
  border-color: transparent!important;
  box-shadow: 0 3px 25px #666666;
  padding-left: 60px; padding-right: 60px;
}

nav div ul li a{
  color: white!important;
  font-family: 'Raleway', cursive;
  font-size: 22px;
  padding: 40px 25px!important;
}
.paddingtop{
    padding-top: 10px;
}
.navbar-toggle{
  background-color: transparent!important;
}
.borderedondo{
  border-radius: 5px;
}
.carrrito_padding{
  padding: 15px 0;
}
.padding_SignInAndUp{
  padding: 70px 0;
}


.btnbuscar {
  background: #eb28e4;
  background-image: -webkit-linear-gradient(top, #eb28e4, #2980b9);
  background-image: -moz-linear-gradient(top, #eb28e4, #2980b9);
  background-image: -ms-linear-gradient(top, #eb28e4, #2980b9);
  background-image: -o-linear-gradient(top, #eb28e4, #2980b9);
  background-image: linear-gradient(to bottom, #eb28e4, #2980b9);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0 1px 3px #666666;
  -moz-box-shadow: 0 1px 3px #666666;
  box-shadow: 0 1px 3px #666666;
  font-family: 'Sunshiney';
  font-size: 1.3em;
  color: #ffffff;
  /*font-size: 15px;*/
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  border-width: 0!important;
  transition: 300ms;
}
.hamburgesa{
  margin-top: 40px;
}
.barra_busqueda{
  border: 0 transparent!important;
  color: white;
  box-shadow: none;
  margin-left: 0;
  width: 100px;
  background-color: #000000;
  border-radius: 0;
}
.barra_busqueda::-webkit-input-placeholder{
    color: white;
    font-family: 'Raleway', cursive;

}
.fa-facebook-square:before, .fa-instagram::before, .fa-twitter::before{
font-size: 30px;
height: 30px;
width: 30px;

}
.fa-facebook{
    content: '';
    display: block;
    height: 40px;  /*height of icon */
    width: 40px;  /*width of icon */
    position: absolute;
    /*where to replace the icon */
    top: 30px;
    left: 0;
    /*background */
    background-image: url('../images/facebook.ico');
    background-repeat: no-repeat;
    background-size: contain;
}
.fa-twitter{
    content: '';
    display: block;
    height: 40px;  /*height of icon */
    width: 40px;  /*width of icon */
    position: absolute;
    /*where to replace the icon */
    top: 30px;
    left: -40px;
    /*background */
    background-image: url('../images/twitter.ico');
    background-repeat: no-repeat;
    background-size: contain;
}
.fa-instagram{
    content: '';
    display: block;
    height: 40px;  /*height of icon */
    width: 40px;  /*width of icon */
    position: absolute;
    /*where to replace the icon */
    top: 30px;
    left: 40px;
    /*background */
    background-image: url('../images/Instagram.ico');
    background-repeat: no-repeat;
    background-size: contain;
}
.iconos{
  padding-top: 35px;
}
.inline{
    text-align: center;
    width: 100%;
}
.inlineblock{
    display: inline-block!important;
    float: none!important;
}
.barra_busqueda:focus{
  width: 200px;
  transition: 1s;
}

.fa::before{
  content: "";
  color: white;
}
.search{
  background-color: transparent;
  color: white;
}
.btnbuscar:hover {
  /*background: #2c0fd1;*/

  font-family: Sunshiney;
  text-decoration: none;
  color: #ffffff;
}
.growup{
    overflow: hidden;
    border: none;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    z-index: 0;
  }

  .growup:hover {
    -webkit-transform:  scaleX(1.2) scaleY(1.2)  ;
    transform:  scaleX(1.2) scaleY(1.2)  ;
    z-index: 1;
  }

/* NOTE: navbar end */

/* NOTE: Contenido home Start */
.bgcolorhome{
  background-color: white;
}
.slideimages{
  margin-top: 170px; /* NOTE: este margen es para que todo lo que pongas debajo del navbar no sea tapado por el mismo */
}
.slideshow{
padding: 0!important;
background-size: cover;
}
.slideshow .izquierda{
  float: left;
  width: 50%;
}
.slideshow .derecha{
  float: right;
  width: 50%;
}
.slideshow .medio{
  float: none;
  width: 100%;
}
/* NOTE: Contenido home End */

.logoname{
  color: white!important;
  padding: 25px 25px!important;
  font-size: 27px;
  }
.white{
  color: white!important;
}



.bordecopado{
    display: inline-block;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid rgb(218, 105, 97)!important;
    max-height: 300px!important;
    border-radius: 50%!important;
    margin-top: 70px;
  }
.muestra{
  padding-top: 20px;
}
.encabezado{
display: block;
width: 100%;
text-align: center;
}
.tamaño{
  float: none;
  width: 100%!important;
}

/* NOTE: sign in start ------------------------------------------------------------------ */
.altominimo{
  min-height: 633px;
}


.signin {
  padding: 40px 0 40px 0;
  /*padding-bottom: 40px;*/
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 50px 0 15px 0;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signinbody {
	background-image: url("../images/base_2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.form-horizontal {
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

.form-signin-heading {
	font-size: 2.1em;
	font-family: Sunshiney;
	color: white;
}

.recordarme {
	font-family: Sunshiney;
	font-size: 1.3em;
	color: white;
	line-height: 1em;
}

#inputEmail {
	border: 1.3px solid white;
	width: 100%;
  height: 40px;
	box-shadow: none;
	background-color: transparent;
	margin-bottom: 7px;
}

#inputPassword {
	border: 1.3px solid white;
	width: 100%;
  height: 40px;
	box-shadow: none;
	background-color: transparent;
	margin-bottom: 5px;
}

/* NOTE: esta clase hay que cambiarla */.form.control {
	font-size: 17px;
	color: white;
}

/* NOTE: esta clase hay que cambiarla */.form-control placeholder {
	/*color: #ff3385;*/
     color: blue;
	font-size: 18px;
}

.btn-primary {
    background: #205a80;
    background-image: -webkit-linear-gradient(top, #205a80, #009bfc);
    background-image: -moz-linear-gradient(top, #205a80, #009bfc);
    background-image: -ms-linear-gradient(top, #205a80, #009bfc);
    background-image: -o-linear-gradient(top, #205a80, #009bfc);
    background-image: linear-gradient(to bottom, #205a80, #009bfc);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Raleway,sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
}

.btn-primary:hover {
    background: #205a80;
    background-image: -webkit-linear-gradient(top, #205a80, #205a80);
    background-image: -moz-linear-gradient(top, #205a80, #205a80);
    background-image: -ms-linear-gradient(top, #205a80, #205a80);
    background-image: -o-linear-gradient(top, #205a80, #205a80);
    background-image: linear-gradient(to bottom, #205a80, #205a80);
    text-decoration: none;
}


.margen{
  margin-bottom: 350px;
}
/* NOTE: sign in end */

/* NOTE: footer start */
footer{
  background: linear-gradient(to left,black ,black);
  color: white;
  font-family: 'Roboto', cursive;
  font-size: 15px;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  clear: both;
  border-color: transparent!important;
  margin-bottom: 0!important;

}
footer ul, footer h3{
  list-style: none;
  text-align: center;
}
footer ul li a{
  color: white;
}
footer h3{
  text-decoration: underline;
}
/* NOTE: footer end */

/* NOTE: FAQS starts */

.encabezadoFAQ h1 {
    margin-top: 50px;
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 12px;
    /*background: linear-gradient(to right,#ef32d9,#89fffd)!important;*/
}
.FAQ-compras{
    padding-bottom: 9%;
}
.FAQ-compras h2 {
    font-size: 14px;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px dotted #7f7f7f;
    color: #7f7f7f;
}
.fondobody2 {
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-more {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff ;
    font-size: 20px;
    background: #000000 ;
    padding: 0px 9px 0px 9px;
    text-decoration: none;
    margin-right:10px;
}

btn-more:hover {
    background: #3498db ;
    text-decoration: none;
}

/* NOTE: FAQS ends */

/* NOTE: signUp Starts ---------------------------------------------------------------------*/

.bgcoloroption{
  background-color: #75003d!important;
}
.custom-upload{
    width: 100%;
    height: 50px;

}
.custom-upload-lable{
    width: auto;
    height: auto;
    padding: 10px 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    margin-left: 37.333%;
    float: none;
}

/* NOTE: signUp Ends---------------------------------------------------------------------*/


/* NOTE: probando animaciones start */

.logoredondo:hover{
  -webkit-animation: pelota ease 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
}

@-webkit-keyframes pelota {
  0% {
    -webkit-transform:  rotate(-360deg) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) ;
  }
}
/* NOTE: probando animaciones end */


/*NOTE Vista SeleccionarID START----------------------------------------*/

.centrado{
    margin: 10% 5%;
}
ul{
    list-style: none;
    text-align: center;
}
/*NOTE Vista SeleccionarID END----------------------------------------*/

/*NOTE Vista Zapatos START----------------------------------------*/
.zapatosmargen{
    padding-top:50px;
}
.gold{
    color: goldenrod;
}
.panel-heading{
   background-color:  lavenderblush;
}
.panel-heading, .panel-footer{
    border:1px solid black;
    background-color:  lavenderblush;
    color:black;
}
.panel-bodyZapatos{
    border-left:1px solid black;
    border-right:1px solid black;
}


/*NOTE Vista Zapatos END----------------------------------------*/
@media screen and (max-width: 768px) { /* NOTE: basicamente este media query es para pantallas pequeñas */
  /* NOTE: Home start */
  .growup:hover{
    -webkit-transform:  scaleX(1) scaleY(1)  ;
    transform:  scaleX(1) scaleY(1)  ;
      }


  /* NOTE: Home End */

  /* NOTE: sign in start */
  .altominimo{
    min-height: 500px;
  }

.slideimages{
    margin-top: 100px;
}
.sk-folding-cube{
    margin: 55% auto;
    }
.position{
    left: 34%!important;
}
}
@media screen and (max-width: 990px) {
    nav div ul li a {
        font-size: 15px;
        padding: 35px 25px!important;
    }
    .position{
        left: 41%;
        top: 3%;
    }
}
